@model IEnumerable<E_Lect.Models.Candidate>

<h2 align="center">Candidate Total Votes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Candidate_Name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Candidate_TotalVotes)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Candidate_Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Candidate_TotalVotes)
        </td>
        
    </tr>
}

</table>
