@model IEnumerable<E_Lect.Models.Party>

<h2 align="center">Party Total Votes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Party_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Party_TotalVotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Party_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Party_TotalVotes)
        </td>

    </tr>
}

</table>
