
@{
    ViewBag.Title = "Index";
}

<style media="screen" type="text/css">
    div.table {
        display: table;
    }

    div.row {
        display: table-row;
    }

    div.cell {
        display: table-cell;
        width: 600px;
    }
</style>

<div class="table">
    <div class="row">
        <div class="cell">@{Html.RenderAction("ListPartyPV");}</div>
    </div>
</div>

<p>
    @Html.ActionLink("Back", "StudentHome", "Home")
</p>