
@{
    ViewBag.Title = "VoteSuccess";
}

<h1 align="center" style="margin:50px; color:green">
    THANK YOU FOR VOTING!!
    <br /><span style="font-size:20px;"></span>
</h1>
<p>
    @Html.ActionLink("Back", "StudentHome", "Home")
</p>