@model IEnumerable<E_Lect.Models.Party>

@{
    ViewBag.Title = "PARTY | Index";

    if (Session["Student_Number"] == null)
    {
        Response.Redirect("~/Login/StudentLogin");
    }
}

<h1 align="center" style="margin:50px">SRC Parties</h1>

<table id="partyTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            @*<th>Image</th>*@
            <th>Name</th>
            <th>Description</th>
            <th>Number of Candidates</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
</table>

<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

    <script>
        var Popup, dataTable;
       $(document).ready(function () {
           dataTable = $("#partyTable").DataTable({
                "ajax": {
                    "url": "/Parties/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    //{
                    //    "data": "Party_Image",
                    //    "searchable": false,
                    //    "sortable": false
                    //},
                    { "data": "Party_Name" },
                    { "data": "Party_Description" },
                    { "data": "Party_NoOfCandidates" },
                    { "data": "Party_Status" },
                ],
                "language": {
                    "emptyTable" : "No data found. Click on <b>Add New</b> button."
                }

            });
       });
        
    </script>
}

<div>
    @Html.ActionLink("Back", "StudentHome", "Home")
</div>