
@{
    ViewBag.Title = "STATISTICS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 align="center" style="margin:50px"> STATISTICS </h1>

<div align="center">
    <h4>The number of Students per Campus</h4>
    <img src="@Url.Action("BarCampus")" width="800" height="200" class="graph" />
</div>

<br /><br />

<div align="center">
    <h4>The number of Votes per Party</h4>
    <img src="@Url.Action("BarPartyVotes")" width="800" height="200" class="graph" />
</div>

<div align="center">
    <h4>The total votes that have been already casted</h4>
    <img src="@Url.Action("BarVotes")" width="800" height="200" class="graph" />
</div>